AWS_PROFILE=gitops-lab
AWS_REGION=eu-central-1
ANSIBLE_SSM_BUCKET=gitops-showcase-tofu-state-<account-id>-eu-central-1
GHCR_USERNAME=<github-username>
GHCR_TOKEN=<github-token-with-package-read-write>
