---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-cilium
  namespace: kube-system
spec:
  valuesContent: |-
    encryption:
      enabled: true
      type: wireguard
    kubeProxyReplacement: true
    k8sServiceHost: "{{ kube_api_internal_endpoint | split(':') | first }}"
    k8sServicePort: 6443
    image:
      tag: v1.19.5
    operator:
      extraArgs:
        - --unmanaged-pod-watcher-interval=15s
      image:
        tag: v1.19.5
    gatewayAPI:
      enabled: true
      hostNetwork:
        enabled: true
        nodes:
          matchLabels:
            node-role.kubernetes.io/worker: "true"
    envoyConfig:
      enabled: true
    hubble:
      enabled: true
      relay:
        enabled: true
